

.hidden {
    display: none;
}

#head {
    height: 200px;

}

#scroll_area {
    position: relative;
    height: 25rem !important;
    overflow-y: scroll;
}


.num {
    width: 20%;
}

input[type=checkbox].check {
  transform: scale(1.5);
}

