{% extends 'snack_puzzle/base.html'%}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="recipe" class="button-form" id="button_recipe" value="dalej">
    </form>
{#    <br><hr>#}
{#    <form action="" method="post" id="form_amount" class="hidden">#}
{#    {% csrf_token %}#}
{#    {{ form_amount.as_table }}#}
{#    <input type="submit" name="amount" class="button-form" id="button_amount" value="dodaj składnik">#}
{#    </form>#}
{#    <script src="../../static/js/add_recipe.js"></script>#}
{% endblock %}