{% extends 'snack_puzzle/base.html'%}

{% block content %}
{#    <div class="container">#}
    <div class="container">
        <div class="col-md-12">
                <div class="alert alert-link">
                <h1 style="color: darkslateblue; font-weight: bold">Snack puzzle</h1>
                <h5 style="color: crimson">Dish, as you wish!</h5>
                <hr>
                <p>Wybież składniki, którymi aktualnie dysponujesz i sprawdź, jakie dania możesz z nich przygotować.</p>
            </div>
        </div>
    </div>
<h1>Kategorie składników</h1>
    <div class="col-md-6 text-right">
            <button class="btn btn-primary" type="button" id="check-btn">Usuń zaznaczenia</button>
            <button class="btn btn-primary" type="button" id="hide-btn">Zamknij wszystkie zakładki</button>
    </div>
        <div class="row">
            <div class="col-md-6">
                <ul id="category_list">
                {% for category in categories %}
                    <a data-id="{{ category.id}}"
                       aria-expanded="false"
                       class="btn btn-info btn-block"
                       type="button"
                       data-toggle="collapse"
                       aria-controls="{{ slug }}{{ category.id }}" href="#{{ slug}}{{category.id }}">{{ category.get_name_display }}</a>
                    <div class="collapse ing-div" id="{{ slug }}{{ category.id }}">
                    {% for ing in category.ingredient_set.all %}
                        <ul>
                            <li style="padding: 10px; list-style-type: square">
                                {% load thumbnail %}
                                <a href="{{ ing.get_absolute_url }}"><img src="{{ing.path|thumbnail_url:'thumb' }}" class="rounded-circle"></a>

                            <div class="form-check">
                                {% csrf_token %}
                                <input class="form-check-input" type="checkbox" id="{{ ing.id }}" value="" data-name="{{ ing.name }}">
                                <label class="form-check-label" for="{{ ing.id }}">{{ ing.name }}</label>
                            </div>
                            <div></div>
                            </li>
                        </ul>
                    {% empty %}
                        <p>brak składników</p>
                    {% endfor %}
                     </div>
                {% endfor %}
                </ul>
            </div>

            <div class="col-md-6">
                <div class="card container-fluid" style="width: 25rem">
                    <div class="card-body">
                        <h3 class="card-title">{{ recipe.name }}</h3>
                    <h5 class="card-subtitle text-muted">{{ recipe.time }} min.</h5>
                        <hr>
                        <p class="card-text">{{ recipe.description }}</p>
                        <ul class="list-group list-group-flush">
                            {% for ingredient in recipe.ingredient.all %}
                                <li class="list-group-item">{{ ingredient.name }}</li>
                            {% empty %}
                                <p>brak składników</p>
                            {% endfor %}
                        </ul>
                    <div class="card-body">
                        <a href="{{ recipe.url }}" class="card-link">Zobacz przepis</a>

                    </div>
                    </div>
                {% for i in ing_sent %}
                    <p>i</p>
                {% endfor %}

                </div>
            </div>
        </div>
{% endblock %}